**/.git/
**/.gitmodules
**/.gitattributes
!/.gitattributes
**/.gitkeep
**/.vscode
**/.gitindex
**/.gitlog
**/.git-*
**/.idea
**/.codex/
**/build
**/managed_components
**/dependencies.lock
**/sdkconfig
!config/
!config/sdkconfig/
!config/sdkconfig/*.defaults
**/sdkconfig.old
**/__pycache__
**/*.pyc
ci-artifacts/
