# ESP32-P4 rev 3.x profile.
CONFIG_ESP32P4_REV_MIN_300=y
# CONFIG_ESP32P4_SELECTS_REV_LESS_V3 is not set
CONFIG_SPIRAM_SPEED_250M=y
CONFIG_SPIRAM_SPEED=250
CONFIG_BOOTLOADER_LOG_LEVEL_ERROR=y
CONFIG_BOOTLOADER_LOG_LEVEL=1
